.header__lang-link {
    color: white;
    text-decoration: none;
    transition: opacity 0.3s linear 0s;
    margin-left: 18px;
}

.header__lang-link:first-child {
    margin-left: 0;
}

.header__lang-link:hover {
    opacity: 0.8;
}

.header__lang-link:focus {
    text-decoration: underline;
}