.places__paragraph_text2{
    margin-top: 26px;
}

@media screen and (max-width: 984px) {
    .places__paragraph_text2 {
      margin-top: 25px; 
    }
}

@media screen and (max-width: 568px) {
    .places__paragraph_text2 {
      margin-top: 25px; 
      margin-left: 0;
      margin-right: 0;
    }
}


