.footer__link {
    margin-left: 18px;
    color: white;
    text-decoration: none;
    transition: opacity 0.3s linear 0s;
}

.footer__link:hover{
    opacity: 0.8;
}

.footer__link:first-child{
    margin-left: 0;
}

@media screen and (max-width: 568px) {
    .footer__link{
       margin-left: 0;
    }
}