.footer__link {
    margin-left: 18px;
    color: white;
    text-decoration: none;

}

.footer__link:hover{
    text-decoration: underline;
}

.footer__link:first-child{
    margin-left: 0;
}

@media screen and (max-width: 568px) {
    .footer__link{
       margin-left: 0;
    }
}