.places__website-url {
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-decoration-line: underline;
    color: white;
    transition: opacity 0.3s linear 0s;
}

.places__website-url:hover {
    opacity: 0.8;
}