.lead__caption {
    margin: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: start;
    width: 100%;
    margin-top: 8px;
}

@media screen and (max-width: 928px) {
    .lead__caption {
        padding-left: 24px;
        max-width: calc(100vw - 24px);
     
    }
}

@media screen and (max-width: 568px) {
    .lead__caption {
        padding-left: 16px;
        max-width: calc(100vw - 16px);
    }
}