.footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 48px 0;
    color: white;
    max-width: 100%;
}


@media screen and (max-width: 984px) {
    .footer {
        margin: 0 24px 0;
    }
}

@media screen and (max-width: 650px) {
    .footer {
        max-height: 13px;
    }
}

@media screen and (max-width: 568px) {
    .footer {
        margin: 0 16px 0;
        align-items: flex-start;
        flex-direction: column;
        max-width: 186px;

    }
}